<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="layout">Layout</a></li>
  <li><a routerLink="header">Header</a></li>
  <li><a routerLink="footer">Footer</a></li>
  <li><a routerLink="navbar">Navbar</a></li>
  <li><a routerLink="hero">Hero</a></li>
  <li><a routerLink="features">Features</a></li>
  <li><a routerLink="landing">Landing</a></li>
  <li><a routerLink="iaconsultant">Iaconsultant</a></li>
  <li><a routerLink="petprofile">Petprofile</a></li>
  <li><a routerLink="appointment">Appointment</a></li>
  <li><a routerLink="dashboards">Dashboards</a></li>
</ul>
<router-outlet></router-outlet>
